html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-page-color: #ffffff;
  --secondary-page-color: #2f303a;
  --third-page-color: #f5f4fa;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --border-color: #ececec;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-page-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  /* padding: 0; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* div,
h1,
h2,
h3,
ul,
li,
a,
p,
button {
  outline: 1px solid rgb(111, 0, 237);
} */

/* container */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* index and portfolio both */

.list {
  list-style: none;
}

/* header */

.page-header {
  background-color: var(--main-page-color);
  border-bottom: 1px solid var(--border-color);
}

.page-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-text-color);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.header-logo:hover,
.header-logo:focus {
  background-color: var(--main-page-color);
}

.web-part {
  color: var(--accent-color);
}

.nav-list {
  display: inherit;
  padding-left: 0;
}

.nav-item {
  margin-right: 50px;
}

.nav-item:last-of-type {
  margin-right: 0;
}

.nav-link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link:hover {
  color: var(--accent-color);
}

.nav-link:focus {
  color: var(--main-text-color);
}

.link-current {
  color: var(--accent-color);
}

.contacts-list {
  display: inherit;
  padding-left: 0;
  margin-left: auto;
}

.nav-mail {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-mail:hover {
  color: var(--accent-color);
}

.nav-mail:focus {
  color: var(--main-text-color);
}

.nav-phone {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-phone:hover {
  color: var(---accent-color);
}

.nav-phone:focus {
  color: var(--main-text-color);
}

/* footer */

.page-floor {
  background-color: var(--secondary-page-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.floor-logo {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-page-color);
  text-decoration: none;
  margin-bottom: 20px;
}

.floor-logo:hover,
.floor-logo:focus {
  background-color: var(--secondary-page-color);
}

.location-list {
  display: inline-block;
  padding-left: 0;
}

.location-item {
  margin-bottom: 9px;
}

.location-item:last-of-type {
  margin-bottom: 0;
}

.location {
  font-style: normal;
  line-height: 1.71;
  color: var(--main-page-color);
  text-decoration: none;
}

.location:hover {
  color: var(--accent-color);
}

.location:focus {
  color: var(--secondary-text-color);
}

.floor-mail {
  font-style: normal;
  line-height: 1.71;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.floor-mail:hover {
  color: var(--accent-color);
}

.floor-mail:focus {
  color: var(--secondary-text-color);
}

.floor-phone {
  font-style: normal;
  line-height: 1.71;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.floor-phone:hover {
  color: var(--accent-color);
}

.floor-phone:focus {
  color: var(--secondary-text-color);
}

/* index.html  */

/* Hero */

.hero {
  background-color: var(--secondary-page-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-page-color);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-page-color);
  background-color: var(--accent-color);
  border: var(--accent-color);
  border-radius: 4px;
  margin-top: 30px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  min-width: 216px;
}

.button:hover {
  color: var(--main-page-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.button:focus {
  color: var(--main-page-color);
  background-color: var(--accent-color);
  border: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

/* Benefits  */

.benefits-list {
  display: flex;
  padding-left: 0;
}

.benefits-item {
  margin-right: 30px;
  max-width: 270px;
}

.benefits-item:last-of-type {
  margin-right: 0;
}

.benefits-caption {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.benefits-text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* Operation */

.operation {
  padding-top: 0;
}

.operation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.operation-list {
  display: flex;
  padding-left: 0;
}

.operation-img {
  width: 370px;
}

.operation-item {
  margin-right: 30px;
}

.operation-item:last-of-type {
  margin-right: 0;
}

/* Team */

.team {
  background-color: var(--third-page-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  padding-left: 0;
}

.team-box {
  background-color: var(--main-page-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  width: 270px;
}

.team-box:last-of-type {
  margin-right: 0;
}

.team-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
  text-align: center;
}

/* portfolio.html  */

/* Projects */

.project {
  background-color: var(--main-page-color);
}

.projects-buttons {
  background-color: var(--main-page-color);
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-buttons li {
  margin-right: 8px;
}

.project-btn {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--main-text-color);
  background-color: var(--third-page-color);
  border: var(--third-page-color);
  border-radius: 4px;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

.project-btn:hover {
  color: var(--main-page-color);
  background-color: var(--accent-color);
  border: none;
}

.project-btn:focus {
  color: var(--main-page-color);
  background-color: var(--accent-color);
  border: none;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  /* gap: 30px; */
}

.project-box {
  display: block;
  max-width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
  /* flex-basis: calc((100% - 20px) / 3); */
}

.project-box:nth-child(3n) {
  margin-right: 0;
}

.project-dsc {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.project-caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
